body{
  background-color: white;
}

#MainBanner {
  margin-left: 12em;
  margin-left: 12em;
}
.Título{
  margin-left: 4em;
  border: 5px solid black;
  border-radius: 10em;
}

.texto{
  margin-left: 4em;
  border: 2px solid black;
  border-radius: 1em;
}
